

.friends-block .container {position:relative; z-index:5;}
.friends-block .sub-title h2 {color:#fff; }
.sub-title {display:block; }
.sub-title > .icon {width:100%;  display:block; text-align:center;}
.sub-title > .icon .icon {color:#fff; margin-bottom:20px; font-size:56px; height:40px; display:inline-block; vertical-align:top; }
.sub-title h2 {line-height:32px; text-align:center; }
.sub-title .img {display:block; width:100%; text-align:center; margin:15px 0 0 0; }
.friends-block .friends-info{display:block; padding:0 0 0 315px; position:relative; margin:21px 0 0 0; min-height:315px; }
.friends-block .friends-info .friend-img {position:absolute; top:0px; left:0px; margin:0 0 0 0;}
.friends-block .friends-info .img { width:278px;  padding:55px 50px 55px 50px; overflow:hidden;}
.friends-block .friends-info .img img {border-radius:50%; width:178px; height:178px}
.friends-block .friends-info .img-fream {position:absolute; top:0px; left:0px; }
.friends-block .friends-info .name {text-align:center; padding:5px 0 0 0; line-height:26px; font-size:18px; color:#ffffff; font-family: 'Domine'; }
.friends-block .friends-info .text {padding:68px 0 0 0; }
.friends-block .friends-info .text p {line-height:42px;font-size:20px; color:#fff; margin:0px; font-family: 'Domine'; text-align:center;}
.friends-block .friends-info .text .start-img {padding:0 10px 0 0; width:auto; display: inline-block;}
.friends-block .friends-info .text .end-img {padding:0 0 0 10px; width:auto; display: inline-block;}
#friend_slider .owl-prev {position:absolute; top:50%; left:-6%; margin-top:-13px; width:27px; height:27px;  border-radius:50%; z-index:9;}
#friend_slider .owl-prev .icon {text-align:center; width:27px; color:#fff; font-size:20px; line-height:27px; display:inline-block; }
#friend_slider .owl-prev:hover .icon {color:#000;}
#friend_slider .owl-next {position:absolute; top:50%; right:-6%; margin-top:-13px; width:27px; height:27px;  border-radius:50%; z-index:9;}
#friend_slider .owl-next .icon {text-align:center; width:27px; color:#fff; font-size:20px; line-height:27px; display:inline-block; }
#friend_slider .owl-next:hover .icon {color:#000;}

